{% extends 'base.html' %}
{% load humanize %}

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">God'seye Research</h1>
        <p class="lead">Data Driven Market Research Reports</p>

        <!-- <a href="{% url 'listings' %}" class="btn btn-secondary text-black btn-lg">View Our Report Store</a> -->

      </div>
    </div>
  </div>
</section>

<!-- Tabs -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <nav class="mt-4 my-nav">
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">About Us</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">What We Do</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">Why Us</a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about"
            aria-selected="false">Custom Research</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          The Research Reports is a Knowledge based market research and consulting company with a motto to deliver
          excellence in
          the field of Market Research. With deep rooted analytical concepts, we put together multi-layered data, which
          would
          have strategic value at all the levels of an organizational structure.

          We, at The Research Reports, wish to strategically contribute valuable data insights, which can truly uncover
          market
          trends at global levels. With a highly dedicated and a motivated team of professionals, we track trends that
          are formed
          over a period and single out market strategic that will significantly contribute to the organization's
          business
          expansion needs.

          At The Research Reports, we focus on offering highly strategic business insights to help clients make
          informed business
          decisions. Through our market research reports we strive to seamlessly address market research needs, which
          will truly
          add significant value to the stake holders, and to the entire business environment.
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          Unparalleled Post-Sales Support:

          We believe in building strategic partnership, and long lasting partnerships are built based on trust and
          commitment. We
          at The Research Reports believe in being present, when our clients need us the most. We demonstrate our
          commitment to
          our clients by offering post-sales support that is unparalleled. We believe in customer delight and not in
          customer
          satisfaction; therefore, we would walk the extra mile.

          Tailor made research services:

          We at The Research Reports understand the differentiated needs of every business. We not only offer
          traditional market
          research services, but also customize market research reports to match market specific needs of our clients.
          Tailor
          made services are a perfect fit for clients with targeted markets in mind.

          Quality Assurance </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          Unparalleled Post-Sales Support:

          We believe in building strategic partnership, and long lasting partnerships are built based on trust and
          commitment. We
          at The Research Reports believe in being present, when our clients need us the most. We demonstrate our
          commitment to
          our clients by offering post-sales support that is unparalleled. We believe in customer delight and not in
          customer
          satisfaction; therefore, we would walk the extra mile.

          Tailor made research services:

          We at The Research Reports understand the differentiated needs of every business. We not only offer
          traditional market
          research services, but also customize market research reports to match market specific needs of our clients.
          Tailor
          made services are a perfect fit for clients with targeted markets in mind.

          Quality Assurance </div>
        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
          Unparalleled Post-Sales Support:

          We believe in building strategic partnership, and long lasting partnerships are built based on trust and
          commitment. We
          at The Research Reports believe in being present, when our clients need us the most. We demonstrate our
          commitment to
          our clients by offering post-sales support that is unparalleled. We believe in customer delight and not in
          customer
          satisfaction; therefore, we would walk the extra mile.

          Tailor made research services:

          We at The Research Reports understand the differentiated needs of every business. We not only offer
          traditional market
          research services, but also customize market research reports to match market specific needs of our clients.
          Tailor
          made services are a perfect fit for clients with targeted markets in mind.

          Quality Assurance </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>



<!-- Breadcrumb -->


<!-- <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col col-md-13">
          <h2>About - The Research Reports</h2>
          <p class="mt-4">The Research Reports is a Knowledge based market research and consulting company with a motto to deliver excellence in the field of Market Research. With deep rooted analytical concepts, we put together multi-layered data, which would have strategic value at all the levels of an organizational structure.

We, at The Research Reports, wish to strategically contribute valuable data insights, which can truly uncover market trends at global levels. With a highly dedicated and a motivated team of professionals, we track trends that are formed over a period and single out market strategic that will significantly contribute to the organization's business expansion needs.

At The Research Reports, we focus on offering highly strategic business insights to help clients make informed business decisions. Through our market research reports we strive to seamlessly address market research needs, which will truly add significant value to the stake holders, and to the entire business environment.</p>
        </div>
        <div class="col col-md-13">
          <h2>Why - The Research Reports</h2>
          <p class="mt-4">The Research Reports is a Knowledge based market research and consulting company with a motto to deliver excellence in the field of Market Research. With deep rooted analytical concepts, we put together multi-layered data, which would have strategic value at all the levels of an organizational structure.

We, at The Research Reports, wish to strategically contribute valuable data insights, which can truly uncover market trends at global levels. With a highly dedicated and a motivated team of professionals, we track trends that are formed over a period and single out market strategic that will significantly contribute to the organization's business expansion needs.

At The Research Reports, we focus on offering highly strategic business insights to help clients make informed business decisions. Through our market research reports we strive to seamlessly address market research needs, which will truly add significant value to the stake holders, and to the entire business environment.</p>
        </div>
        <!-- <div class="col-md-4">
          {% if mvp_realtors %}
            {% for realtor in mvp_realtors %}
            <div class="card">
                <img class="card-img-top" src="{{ realtor.photo.url }}" alt="Seller of the month">
                <div class="card-body">
                  <h5 class="card-title">Seller Of The Month</h5>
                  <h6 class="text-secondary">{{ realtor.name }}</h6>
                  <p class="card-text">{{ realtor.description }}
                  </p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div> -->
<!-- </div>
    </div>
  </section> -->

<!-- Work -->
<section id="showcase-inner" class="py-5 text-white">
      <div class="container">
        <div class="text-center">
          <div class="col-md-12">
            <!-- <h2 class="display-4">We Work For You</h2> -->
            <!-- <h3>"We Don't Just Sell Research Reports, We Sell Market Intelligence".</h3> -->
        <h5 style= "padding: 14px;">We understand the need for market intelligence, and also realize the power of DATA that shapes modern day businesses. Our research reports are driven by data, helping our clients to gain an edge in the competitive business landscape.</h5>
           <!-- <a href="{% url 'listings' %}" class="btn btn-secondary text-black btn-lg">View Our Report Store</a> -->
          </div>
        </div>
      </div>
    </section> 

{% endblock %}