<div class="col-md-1">
    <ul class="ct-socials">
      <style>
        .ct-socials {
          position: fixed;
          top: 33%;
          right: 0;
          list-style: none;
          padding-left: 0;
          z-index: 10;
          margin: 0;
          /* -webkit-transition: left 0.25s ease-in-out;
          transition: left 0.25s ease-in-out;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; */
        }
  
        /* .ct-socials li {
          padding: 0px 0;
        } */
  
        .ct-socials li a {
          background: #283e60;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: #fff;
          width: 44px;
          height: 54px;
          -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
          float: right;
          padding-left: 5px;
        }
  
        .ct-socials li a:hover {
          width: 60px;
          padding-left: 0;
          text-decoration: none;
          background: #3c9bd9;
        }
  
  
        }
      </style>
      <li>
        <a href="/" target="_blank"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="/" target="_blank"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="/" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </li>
      <li>
        <a href="/" target="_blank"><i class="fab fa-google-plus-g"></i></a>
      </li>
    </ul>
  
  
  
  </div>